.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# unit test coverage
coverage

# pokemon images
src/assets/img/pokemon

# local env files
.env
.env.local
.env.*.local
.env.development
.env.*.development
.env.production
.env.*.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# storybook
storybook-static

# ESLint
lint-report.json