@import './components/index.scss';

body {
    @include font-size;

    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0bd;

    &:hover {
        color: #0090aa;
    }
}

h1 {
    @include font-size(30, 42);

    font-weight: bold;
}

h2 {
    @include font-size(25, 32.5);

    font-weight: bold;
}

h3 {
    @include font-size(20, 27);

    font-weight: bold;
}
