$p-primary-color: #5c9cd8;
$p-white-color: #fff;
$p-shadow-color: #b5b5b5;
$p-select-hover-color: #f9f9f9;
$p-black-color: #444;
$p-gray-color: #777;
$p-light-gray-color: #eee;
$p-light-gray-line-color: #ddd;

$p-link: #0bd;
$p-link-hover: #0090aa;

$p-type-normal: #7e8790; // ノーマル
$p-type-fighting: #c02956; // かくとう
$p-type-flying: #7d95d5; // ひこう
$p-type-poison: #9950bc; // どく
$p-type-ground: #ce6236; // じめん
$p-type-rock: #bba979; // いわ
$p-type-bug: #7fb822; // むし
$p-type-ghost: #41539b; // ゴースト
$p-type-steel: #4a7c90; // はがね
$p-type-fire: #fd8943; // ほのお
$p-type-water: #3e7bcb; // みず
$p-type-grass: #54b149; // くさ
$p-type-electric: #efcb2e; // でんき
$p-type-psychic: #f55963; // エスパー
$p-type-ice: #64c5b3; // こおり
$p-type-dragon: #0f56b7; // ドラゴン
$p-type-dark: #484053; // あく
$p-type-fairy: #e575df; // フェアリー
