$header-height: 80px;

.dummy-contains {
    height: $header-height;
    max-height: $header-height;
}

.o-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: $header-height;
    max-height: $header-height;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    z-index: 100;

    &__item {
        margin: 16px 24px;
    }

    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-text {
            margin: 0 16px;
        }
    }

    &__navigation {
        & .gnav {
            &__menu {
                display: flex;
                align-items: flex-end;
                padding: 0;

                &-item {
                    margin: 0 8px;
                    list-style: none;
                }
            }
        }
    }
}
